{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Test .. {% endblock %} </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <script src="{% static 'js/index.js' %}" type="text/javascript"></script>
    <script src="jquery-3.4.1.min.js"></script>
</head>
<body>
    <div id="test">
        <h1>Test the Page</h1>
    </div>
    <div id="page">
        {% if user.is_authenticated %}
            <div class="page-header">
                <h1>Welcome</h1>
                <!-- Change Password  -->
                <!-- See Category Detail  -->
                <!-- See Post Detail -->
                <h2>Testing..</h2>
                {% block category_list %}
                <a href="{% url 'category_list' %}">
                    <p>See more Category_List</p>
                    <span class="glyphicon glyphicon-search"></span>
                </a>
                {% endblock %}
                {% block signout_content %}
                <a href="{% url 'signout' %}?next=/" class="top-signout">
                    <p>Logout</p>
                    <span class="glyphicon glyphicon-log-out"></span>
                </a>
                {% endblock %}
            </div>
            <div class="page-body">
                <div id="row">
                    <div class="col-md-8">
                    {% block post_content %}
                    {% endblock %}
                    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
                    <script type="text/javascript">
                        $(function(){
                            $.get('',
                        });
                    </script>
                    </div>
                </div>
            </div>
            <div class="page-footer">

            </div>
        {% else %}
            <div class="page-header">
                <h1 class="welcome-sign">Welcome to My PortFoilo Page</h1>
                <br>
                <h2>Please Login if you want to use this WebSites.</h2>
                {% block sign_content %}
                <a href="{% url 'sign' %}" class="top-sign">
                     <p>Go to Sign-in or Sign-up</p>
                    <span class="glyphicon glyphicon-log-in"></span>
                </a>
                {% endblock %}
            </div>
            <div class="page-body">

            </div>
            <div class="page-footer">

            </div>
        {% endif %}
    </div>
</body>
</html>