{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <script src="{% static 'js/index.js' %}" type="text/javascript"></script>
    <script src="jquery-3.4.1.min.js"></script>
</head>
<body>
    <div id="page">
        {% if user.is_authenticated %}
            <div class="page-header">
                <a href="{% url 'sign.html' %}">
                    <span>Testing..</span>
                </a>
            </div>
            <div class="page-body">
                <div id="row">

                </div>
            </div>
            <div class="page-footer">

            </div>
        {% else %}
            <div class="page-header">
                {% block sign_content %}

                {% endblock %}
            </div>
            <div class="page-body">

            </div>
            <div class="page-footer">

            </div>
        {% endif %}
    </div>
</body>
</html>