#test { background-color: #ff9400; }
#page { /*height: 50px;*/ }
/*
    Move .page-header color which is red to lower position.
    margin-bottom means make
*/
.page-header { height: 50px; margin-bottom: 120px; position: static; justify-content:space-between; padding-bottom: 20px; background-color: #ff2222;}
/*
    .page-header .welcome-sign height makes
    'Welcome to My PorFolio Page' letter move to lower position.
*/
/*
    #page is the first rank of this layout.
    .page-header and .page-body are second rank of this layout,
    and moves any sides together.
*/
/*
  .page-header .welcome-sign is the letter that shows
  "Welcome to My PortFolio Page"
*/
/*
    .page-header --> Welcome to My PortFolio Page
    .page-header .welcome-sign --> Please Login if you want to use this Websites.
    .page-body --> Colors name ".page-body" which tag color is "fffff0".
*/
.page-header .welcome-sign { height: 50px; background-color: #ff0000; }
/*#page login-page-header { height: 80px; }*/
#page login-page-header { height: 50px; }
#page logout-page-header { height: 50px; }
.page-body { margin-bottom: 80px; height: 100%; padding: 100px; justify-content: space-between; padding: 10px; position: static; background-color: #fffff0; }
.page-body .post-content { height: 200px; background-color: #fff000; }
/*#page login-page-body { height: 200px;}*/
#page login-page-body { height: 150px;}
#page logout-page-body { height: 150px; }
