{% extends "index.html" %}
{% block title %} Post_List.. {% endblock %}
{% block content %}
    {% for post in post_list %}
        <div class="post">
            <div class="Author_Name">
                {{ post.Author_Name }}
            </div>
            <div class="date">
                {{ post.Published_At }}
            </div>
            <h1>
                <a href="{% url 'post_detail' post.pk %}">
                    {{ post.Title }}
                </a>
            </h1>
        </div>
    {% endfor %}
{% endblock %}