{% extends "index.html" %}
{% block title %} Post_Detail {% endblock %}
{% block post_detail %}
    <div class="post">
        {% if post.Published_at %}
            <div class="date">
                {{ post.Published_At }}
            </div>
        {% endif %}
        {% if user.is_authenticated %}
            <div class="Author_Name">
                {{ post.Author_Name }}
            </div>
        {% endif %}
        <h1>{{ post.Title }}</h1>
        <p>{{ post.Contents|linebreaksbr }}</p>
    </div>
{% endblock %}