#test { background-color: #ff9400; }
#page { height: 50px; }
.page-header { height: 100px; padding: 10px; position: relative; background-color: #ff2222;}
.page-header .welcome-sign { height: 50px; background-color: #ff0000; }